@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}
.bg-custom-svg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='300' height='300' preserveAspectRatio='none' viewBox='0 0 300 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1069%26quot%3b)' fill='none'%3e%3crect width='300' height='300' x='0' y='0' fill='rgba(20%2c 21%2c 28%2c 1)'%3e%3c/rect%3e%3cpath d='M-36.13 37.66 a74.8 74.8 0 1 0 149.6 0 a74.8 74.8 0 1 0 -149.6 0z' fill='rgba(54%2c 63%2c 73%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M102.69 189.96 a81.67 81.67 0 1 0 163.34 0 a81.67 81.67 0 1 0 -163.34 0z' fill='rgba(54%2c 63%2c 73%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M176.7 9.71 a63.91 63.91 0 1 0 127.82 0 a63.91 63.91 0 1 0 -127.82 0z' fill='rgba(54%2c 63%2c 73%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M246.348%2c267.714C259.362%2c266.941%2c271.204%2c260.826%2c278.128%2c249.78C285.549%2c237.94%2c288.401%2c223.271%2c281.985%2c210.857C275.066%2c197.469%2c261.407%2c188.878%2c246.348%2c188.292C230.194%2c187.663%2c213.821%2c193.987%2c205.558%2c207.882C197.133%2c222.05%2c197.995%2c240.368%2c207.28%2c253.988C215.613%2c266.212%2c231.58%2c268.591%2c246.348%2c267.714' fill='rgba(54%2c 63%2c 73%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M34.58%2c148.965C43.256%2c149.499%2c52.372%2c146.614%2c56.847%2c139.162C61.431%2c131.529%2c60.411%2c121.647%2c55.411%2c114.28C50.939%2c107.691%2c42.539%2c106.112%2c34.58%2c106.353C27.131%2c106.578%2c19.623%2c109.066%2c15.824%2c115.477C11.959%2c122%2c12.901%2c130.069%2c16.606%2c136.684C20.406%2c143.469%2c26.818%2c148.487%2c34.58%2c148.965' fill='rgba(54%2c 63%2c 73%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1069'%3e%3crect width='300' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}